@import "~bootstrap/scss/bootstrap";
.App {
  text-align: center;
}

body{
  // background-color:  rgb(251, 245, 246);
  background: rgb(250, 242, 242);
}

// .vector{
//   position: absolute;
//   width: 1500px;
//   height: 385px;
//   left: -36px;
//   top: 320px;

//   background: #C4C4C4;
//   opacity: 0.1;
// }

.NavBar {
  display: flex;
  flex-direction: row;
  color: rgb(253, 161, 176);
  justify-content: space-between;
}
.welcome {
  color: rgb(59, 59, 238);
  margin: 10px
}

.button {
  margin: 10px;
  font-size: 15px;
  text-align: center;
  border-radius: 2px 2px;
}

.link1{
  padding: 5px;
  font-size: 17px;
  background-color: rgb(247, 250, 253);
  border: 1px solid rgba(25,4,69,0.5);
  width: 13%;
  margin-left: 85%;
  border-radius: 2px 2px;
}
.nav {
  display: flex;
  flex-direction: row;
  color: rgb(253, 161, 176);
  justify-content: space-between;
  margin-top: -70px
}

.link2 {
  display:inline-block;
  font-size: 17px;
  background-color: rgb(247, 250, 253);
  border: 1px solid rgba(25,4,69,0.5);
  width: 12%;
  margin-left: 85%;
  border-radius: 2px 2px;
}

.home {
  // position: relative;
  // font-size: 120%;
  // color: rgb(24, 24, 151);
  // font-style: sans-serif;
  // background-color: rgb(250, 234, 236);
  // flex-direction: row;
  // box-shadow: 0 3px 10px -1px rgba(0,0,0,.2);
  // height: 35px;
  position: absolute;
  width: 348px;
  height: 61px;
  left: 15px;
  top: 20px;

  font-family: Chelsea Market;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 31px;

  color: #643097;
}

.job {
  font-style: italic;
  margin: 50px
}
.margin-form {
  margin: 50px
}
.pic {
    position: absolute;
    width: 628px;
    height: 425px;
    left: 650px;
    top: 200px;
    border-radius: 10px;
}

.button-login {
  // float: right;
  // border-radius: 5px;
  // // border: 2px solid rgb(170, 132, 167);
  // margin: 0px 0px 0px 10px;
  // height: 34px;
  // padding: 0 15px;
  // font-size: 14px;
  // background-color: transparent;
  // border: 1px solid rgba(25,4,69,0.5);
  // box-shadow: none;
  // color: rgba(25,4,69,0.7);
  position: absolute;
  width: 80px;
  height: 49px;

  border: 1px solid #9F2393;
  box-sizing: border-box;
  border-radius: 5px;
  position: absolute;
  width: 79px;
  height: 30px;
  left: 1220px;
  top: -2px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;

  color: #9F2393;
  background: rgb(250, 242, 242)
}
.button-signup {
  // float: right;
  // border-radius: 5px;
  // margin: 0px 0px 0px 10px;
  // height: 34px;
  // padding: 0 15px;
  // font-size: 14px;
  // background-color: transparent;
  // border: 1px solid rgba(25,4,69,0.5);
  // box-shadow: none;
  // color: rgba(25,4,69,0.7);
  // margin-right: 2%;
  position: absolute;
  width: 80px;
  height: 35px;

  border: 1px solid #9F2393;
  box-sizing: border-box;
  border-radius: 5px;
  position: absolute;
  width: 85px;
  height: 30px;
  left: 1310px;
  top: -2px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;

  color: #9F2393;
  background: rgb(250, 242, 242)

}
.logo {
position: absolute;
width: 50px;
height: 50px;
left: 28px;
top: 10px;
border-radius: 50px;
}
.form-popup {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  max-width: 300px;
  height: 300px;
  padding: 3em;
  background-color: rgb(246, 243, 243);
  border: 1px solid #ccc;
  border-radius: 5px 5px 5px 5px;;
  margin: 23em 0;
}
.login-field{
  margin: 5px;
  width: 200px;
  height:30px;
}
.btn {
  background-color: rgb(32, 134, 230);
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  width: 50%;
  margin-bottom:20px;
  opacity: 0.8;
}
.close{
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}
.edit-btn {
  padding: 5px;
  font-size: 17px;
  background-color: rgb(247, 250, 253);
  border: 1px solid rgba(25,4,69,0.5);
  width: 7%;
  margin-bottom:50px;
  margin-left: 45%;
  border-radius: 2px 2px;
}
.text{
position: absolute;
width: 452px;
height: 193px;
left: 105px;
top: 320px;
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 96px;
color: #643097;

}
